.contactpage{
    background-image: url('/assets/backround.png');
    background-position: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
.contact{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.contact-form{
    /* box-shadow: -16px 23px 45px -10px rgb(13, 13, 13); */
    width: 50%;
    border-radius: 46px;
    box-shadow: -21.212px 25.279px 34px rgba(0, 0, 0, 0.41);

   
}
input {
    
    border-bottom: 2px solid rgb(162, 162, 162);
    outline: none !important;
}

input:focus {
  
    outline: none !important;
    border-bottom: 2px solid rgb(229, 223, 187);
}


.send-button{
    width: 270px;
    /* box-shadow: 1px 4px 35px 5px rgb(21, 21, 21); */
    box-shadow: -7.08px 10.903px 9px rgba(0, 0, 0, 0.85);

}
.contact-text{
    width: 330px;
}

.social-media{
    top: 83%;
}

@media(max-width:768px){
    .contactpage{
        background-image: url('/assets/backround.png');
        height: 100%;
        display: flex;
        align-items: center;
        padding: 30px 0px;
    }
    
}

@media(max-width:1024px){
    .contact-form{
        box-shadow: -7px 2px 35px 5px rgb(29, 29, 29);
        width: 55%;
    }
    .social-media{
        top: 100%;
    }
}
@media(max-width:896px){
    .contact-text{
        width: 310px;
    }
}
@media(max-width:767px){
    .contact-text{
        width: 90%;
    }
    .contact-form{
        background-image: url('/assets/backround.png');
        width: 99%;
    }
}

.contact-us{
    font-size: 35px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #fed200;
    
    /* font-family: "Nexa Light"; */
}
.contact-h{
    width: 210px;
}
.contact-sections{
    width: 74%;
}

@media(max-width:986px){
    .contact-sections{
        width: 88%;
    }
}
@media(max-width:435px){
    .contact-sections{
        width: 100%;
    }
}

.text-1{
    font-size: 21px;
    height: 56px;
}

.contact-social-media{
    bottom: 4%;
}

.contact-scroll {
    position: absolute;
    right: 0%;
    bottom: 4%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }