body{
     background-image: url('/assets/backround.png');
}
.s-img{
    width: 30px;
    height: 30px;
}

.social-media{
    top: 100%;
}
.logo-center{
    width: 30%;
}

@media(max-width:757px){
    .logo-center{
        width: 50%;
    }
}
@media(max-width:447px){
    .logo-center{
        width: 70%;
    }
}

