.homepage{
     background-image: url('/assets/backround.png');
     /* padding-bottom: 87px; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100vh;
}
.s-img{
    width: 30px;
    height: 30px;
}

.social-media{
    top: 90%;
}
.logo-center{
    width: 30%;
}

@media(max-width:757px){
    .logo-center{
        width: 50%;
    }
    .social-media-inner{
       flex-direction: row !important;
      
    }
    .social-media{
        top: 98%;
        
    }

}
@media(max-width:447px){
    .logo-center{
        width: 70%;
    }
}
.bg-gray{
    background-color: rgb(54, 56, 62);
}
.bg-gray2{
    background-color: rgba(54, 56, 62, 0.607);
}

.clicked {
   
    font-weight: bold; /* Makes the text bold */
    text-transform: uppercase; /* Ensures consistency in text style */
    border-bottom: 2px solid #ffcc00; /* Adds an underline with the same color */
  
    padding: 4px 8px; /* Adds a bit of spacing around the text */
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Creates a subtle shadow effect */
    transition: all 0.3s ease; /* Smooth transition for hover or state changes */
  }
  

  
