body{
    background-image: url('/assets/backround.png');
}
.s-img{
   width: 30px;
   height: 30px;
}

.social-media{
    top: 86%;
}

.left-img , .right-img {
    width: 28% !important; 
    height: 28%; 
}

.center-img{
    width: 32% !important; 
    height: 30%; 
}

.miepay{
    bottom: 35%;
    padding-left: 10px;
    padding-right: 10px;
}
.download{
   color: rgb(248, 224, 72);
}

@media (max-width:818px){
    .miepay{
        bottom: 45%;
    }
}
@media (max-width:530px){
    .miepay{
        bottom: 55%;
    }
}

@media (max-width:434px){
    .miepay{
        bottom: 65%;
    }
}
@media (max-width:342px){
    .miepay{
        bottom: 70%;
    }
}